@import 'vars';

@mixin Raleway600() {
    font-family: $font-Raleway;
    font-weight: 600;
}

@mixin Raleway700() {
    font-family: $font-Raleway;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*MEDIA QUERIES*/

/* Version DESKTOP: 960px*/

@media only screen and (min-width: 960px) {

}
